$name-space: "accessible_gallery";

// Colors
$color-1: #fff;
$color-2: #000;

// Typography
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

// Paddings / Margins
$margin: 1rem;

$padding: 1rem;
$padding-lm: 1.5rem;
